[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.idea/
*.csproj
!Tools/Verification/Verification.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.opendb
*.VC.db
TestResults/
Tools/Verification/bin/
Tools/Verification/obj/
Tools/ServerSession/
